  <div class="row">
    <div class="col-md-3 col-md-push-9">
      <div class="list-group" >
        <div class="list-group-item">
          <strong>Menu</strong>
          <ul class="list-unstyled">
            <li><a ng-class="{active: $state.includes('admin.orders.list')}" ui-sref="admin.orders.list"> Orders List</a>
            </li><li><a ng-class="{active: $state.includes('admin.orders.state')}" ui-sref="admin.orders.states({id: $stateParams.id})"> State Changes</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-9 col-md-pull-3">

      <h2>Order {{vm.order.number}}</h2>
      <div class="row well">
        <div class="col-md-4 text-center">
          <label>Status</label><br/>
          <div class="badge btn-warning">{{vm.order.state}}</div>
          <div class="input-group" ng-hide="['Address','Shipping','Payment','Confirm'].indexOf(vm.order.state) != -1">
            <select class="form-control" ng-model="vm.order.state">
              <option value="">-- State --</option>
              <option ng-repeat="state in ['Complete','Canceled','Awaiting-Return','Returned','Refund', 'Finish']">{{state}}</option>
            </select><span class="input-group-addon"><a class="btn btn-success btn-xs" ng-click="vm.state(' State to '+ vm.order.state)">Save</a></span>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <label>Payment State</label><br/>
          <div class="badge btn-warning">{{vm.order.payment_state}}</div>
          <div><a ng-if="vm.order.payment_state === 'Balance-Due' && vm.order.state === 'Complete'" class="btn btn-success btn-sm btn-block active"
                  ng-click="vm.paid(' Change to Paid State')"> Paid </a></a></div>
        </div>
        <div class="col-md-4 text-center">
          <label>Shipment State</label><br/>
          <div class="badge btn-warning">{{vm.order.shipment_state}}</div>
          <div ng-show="vm.order.shipment_state == 'Shipped'">{{vm.order.ship_info}}</div>
          <div ng-if="vm.order.shipment_state == 'Ready'" class="form-group">
            <form name="form" ng-submit="vm.shipped('Change to Shipped State')" novalidate>
              <textarea class="form-control" ng-model="vm.order.ship_info" rows="2"></textarea>
              <input type="submit" class="btn btn-success btn-sm btn-block active" value=" Shipped ">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Billing Address:</label><br/>
          {{vm.order.bill_address.name}}<br/>
          {{vm.order.bill_address.zipcode}}<br/>
          {{vm.order.bill_address.address1}}<br/>
          {{vm.order.bill_address.address2}}<br/>
          Phone: {{vm.order.bill_address.phone}}<br/>
          Mobile: {{vm.order.bill_address.mobile}}
        </div>
        <div class="col-md-4">
          <label>Shipping Address:</label><br/>
          {{vm.order.ship_address.name}}<br/>
          {{vm.order.ship_address.zipcode}}<br/>
          {{vm.order.ship_address.address1}}<br/>
          {{vm.order.ship_address.address2}}<br/>
          Phone: {{vm.order.ship_address.phone}}<br/>
          Mobile: {{vm.order.ship_address.mobile}}
        </div>
        <div class="col-md-2">
          <label>Shipment:</label><br/>
          {{vm.order.shipment.shipping_method.name}}<br/>
          {{vm.order.shipment.shipping_method.amount | currency}}
        </div>
        <div class="col-md-2">
          <label>Payment:</label><br/>
          {{vm.order.payment.payment_method.name}}<br/>
          {{vm.order.payment.payment_method.info}}
        </div>
      </div>
      <div class=" table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th colspan="2" class="text-center">Item</th>
            <th class="text-center">Price</th>
            <th class="text-center">Qty</th>
            <th class="text-center">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in vm.order.order_items">
            <td class="col-md-1"><div class="height-72"><img ng-src="/assets/upload/{{item.uri}}"></div></td>
            <td class="col-md-5"><a ui-sref="products.view({id: item.variant.product})"><strong>{{item.name}}</strong><br/> {{item.variant.options}}</a></td>
            <td class="col-md-2 text-right">{{item.variant.price | currency}}</td>
            <td class="col-md-1 text-center">{{item.quantity}}
            </td>
            <td class="col-md-2 text-right">{{item.variant.price * item.quantity | currency}}</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <th class="text-center">
              <div>SubTotal:</div>
              <div>Shipping:</div>
              <div>Total:</div>
            </th>
            <td class="text-right">
              <div>{{vm.order.item_total | currency}}</div>
              <div>{{vm.order.shipment_total | currency}}</div>
              <div>{{vm.order.total | currency}}</div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-xs-2 col-md-2"></div>
          <div class="col-xs-6  col-md-6">
            <div class="form-group has-error" ng-show="vm.errors.other">
              <p class="help-block">{{ vm.errors.other }}</p>
            </div>
            <div class="form-group has-success" ng-show="vm.success">
              {{vm.success}}
            </div>
          </div>
          <div class="col-xs-4 col-md-4 text-right">
          </div>
        </div>
      </div>
    </div><!--/col-md-9 -->
  </div>
