<div class="row">
  <div class="col-md-10 col-md-offset-1 text-right">
    <span class="badge"><a class=" btn btn-default" ui-sref="topics.list({forum_id: $stateParams.forum_id})"><i class="fa fa-arrow-left"></i> Back </a></span>
  </div>
</div>

<div class="panel panel-default col-md-10 col-md-offset-1">
  <div class="panel-body">
    <h2>New Topic</h2>
    <form class="myform" name="form" ng-submit="vm.saveTopic(form)"  novalidate>
      <div class="form-group">
        <label>Subject *:</label>
        <input  class="form-control"  ng-model="vm.topic.name" required>
      </div>
      <div class="form-group">
        <label>Message:</label>
        <textarea id="topic-editor" class="form-control" rows="15" ng-model="vm.topic.content" markdown-editor></textarea>
      </div>
      <div inputfile></div>
      <div class="form-group">
        <label>Tags: "," comma separator</label>
        <input  class="form-control"  ng-model="vm.topic.tags" >
      </div>

      <div class="form-group">
        <label><i class="fa fa-unlock-alt"></i> Locked:
          <input class="form-control" type="checkbox" ng-model="vm.topic.locked">
        </label>
      </div>

      <div class="form-group" ng-show="Auth.hasRole('admin')">
        <label><i class="fa fa-flag"></i> Sticky:
          <input class="form-control" type="checkbox" ng-model="vm.topic.sticky">
        </label>
      </div>

      <div class="form-group has-info" ng-show="progress">
        <p class="help-block">Progress... {{ progress }}%</p>
      </div>
      <div class="form-group has-error" ng-show="vm.errors">
        <p class="help-block">{{ vm.errors.other }}</p>
      </div>
      <div class="form-group has-success" ng-show="vm.success">
        <p class="help-block">{{ vm.success }}</p>
      </div>

      <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Save</button>
      <button class="btn btn-primary" ng-click="vm.cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
<script type="application/javascript">
  //$('#topic-editor').markdown({language: 'kr'});
</script>
