
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Edit Post</h2>
    <form class="myform" name="form" ng-submit="vm.savePost(form)"  novalidate>
      <div class="form-group">
        <label>Subject *:</label>
        <input  class="form-control"  ng-model="vm.post.name" required>
      </div>
      <div class="form-group">
        <label>Message:</label>
        <textarea  class="form-control" rows="12" ng-model="vm.post.content" markdown-editor></textarea>
        <div class="btn-group" ng-repeat="file in vm.post.files">
          <div>
            <a class="btn btn-default btn-xs" ng-href="/assets/upload/{{file.uri}}"
               alt="{{file.name}}" target="attachment">{{file.name}} ({{file.size}})</a><a class="btn btn-default btn-xs" ng-click="vm.removeFile(file)"
                                                                                           title="Remove '{{file.name}}' "><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </div>
      <div inputfile></div>
      <div ng-show="vm.post.root">
        <div class="form-group">
          <label>Tags: "," comma separator</label>
          <input  class="form-control"  ng-model="vm.post.tags" >
        </div>

        <div class="form-group">
          <label><i class="fa fa-unlock-alt"></i> Locked:
            <input class="form-control" type="checkbox" ng-model="vm.post.locked">
          </label>
        </div>

        <div class="form-group" ng-show="Auth.hasRole('admin')">
          <label><i class="fa fa-flag"></i> Sticky:
            <input class="form-control" type="checkbox" ng-model="vm.post.sticky">
          </label>
        </div>
      </div>
      <div class="form-group has-error" ng-show="vm.errors">
        <p class="help-block">{{ vm.errors.other }}</p>
      </div>
      <div class="form-group has-success" ng-show="vm.success">
        <p class="help-block">{{ vm.success }}</p>
      </div>

      <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Save</button>
      <button class="btn btn-primary" ng-click="vm.cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
