<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController as nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar-main" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/assets/images/smartplug-115x53bg.png"></a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="orders.list">My Order</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active" class="dropdown pointer">
          <a class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-flag"></span>
              <span class="hidden-tablet">Admin</span>
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            <li ng-class="{active:$state.includes('admin.orders')}" ng-show="nav.isAdmin()"><a role="menuitem" ui-sref="admin.orders.list"><span class="glyphicon glyphicon-shopping-cart"></span> Orders</a> </li>
            <li ng-class="{active:$state.includes('admin.products')}" ng-show="nav.isAdmin()"><a role="menuitem" ui-sref="admin.products.list"><span class="glyphicon glyphicon-th-large"></span> Products</a> </li>
            <li ng-class="{active:$state.includes('admin.forums')}" ng-show="nav.isAdmin()"><a ui-sref="admin.forums.list"><span class="fa fa-commenting"></span> Forums</a></li>
            <li ng-class="{active:$state.includes('admin.supports')}" ng-show="nav.isAdmin()"><a ui-sref="admin.supports.list"><span class="fa fa-user"></span> Supports</a></li>
            <li active-menu="settings"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li ng-class="{active:$state.includes('admin.users')}" ng-show="nav.isAdmin()"><a ui-sref="admin.users.list"><span class="fa fa-user-plus"></span> Users</a></li>
          </ul>
        </li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
